{% extends 'plantilla.html' %}
{% block contenido %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Editar Coleccionista</h1>

    <form action="{% url 'procesar_coleccionista' coleccionista.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ coleccionista.nombre }}" required>
        </div>
        <div class="mb-3">
            <label>Correo</label>
            <input type="email" name="correo" class="form-control" value="{{ coleccionista.correo }}" required>
        </div>
        <div class="mb-3">
            <label>Fecha de Registro</label>
            <input type="date" name="fecha_registro" class="form-control" value="{{ coleccionista.fecha_registro|date:'Y-m-d' }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{% url 'lista_coleccionista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
