{% extends 'plantilla.html' %}
{% block contenido %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Registrar Nuevo Coleccionista</h1>

    <form action="{% url 'nuevo_coleccionista' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ form.nombre.value|default_if_none:'' }}" required>
            {% if form.nombre.errors %}
                <div class="text-danger small">{{ form.nombre.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Telefono</label>
            <input type="text" name="telefono" class="form-control" value="{{ form.telefono.value|default_if_none:'' }}" required>
            {% if form.telefono.errors %}
                <div class="text-danger small">{{ form.telefono.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Dirección</label>
            <input type="text" name="direccion" class="form-control" value="{{ form.direccion.value|default_if_none:'' }}" required>
            {% if form.direccion.errors %}
                <div class="text-danger small">{{ form.direccion.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Correo</label>
            <input type="email" name="correo" class="form-control" value="{{ form.correo.value|default_if_none:'' }}" required>
            {% if form.correo.errors %}
                <div class="text-danger small">{{ form.correo.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Fecha de Registro</label>
            <input type="date" name="fecha_registro" class="form-control" value="{{ form.fecha_registro.value|default_if_none:'' }}" required>
            {% if form.fecha_registro.errors %}
                <div class="text-danger small">{{ form.fecha_registro.errors.0 }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'lista_coleccionista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
